<div class="max-w-7xl mx-auto px-3">
  <app-header />
  <main class="flex gap-5 my-5">
    <div class="flex flex-col gap-2 w-60">
      @for (user of users; track user.id){
      <app-user
        [selected]="user.id === selectedUserId"
        [user]="user"
        (select)="onSelectUser($event)"
      />
      }
    </div>
    <div class="grow px-4 py-4 bg-green-100 rounded-xl">
      @if (selectedUser){
      <app-tasks [userId]="selectedUser.id" [name]="selectedUser.name" />
      } @else{
      <p class="text-2xl font-bold text-green-600">
        Select a user to see their tasks!
      </p>
      }
    </div>
  </main>
</div>
